body{
    height: 800px;
    background-image: url("./img/cinema.jpg");
}
.jumbotron{
    border-radius: 30px;
    color: yellow;
    background-image: url("./img/cinema2.jpg");
    text-align: center;
}
.card-img-top{
    height: 40%;
    width: 100%;
}
.card-deck{
    margin-top: 1%;
    margin-bottom: 5%;
    margin-right: 5%;
    margin-left: 5%;
}
